<%-layout('layout/admin_layout')%>
  <style>
    .warning-border {
      border: 1px solid red;
    }
  </style>
  <link rel="stylesheet" href="/public/jquery/jquery-ui.css">
  <main class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">FERMEH</div>
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <!--  -->
        </nav>
      </div>
      <!--  -->
    </div>
    <!--end breadcrumb-->

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card">
          <div class="card-header py-3 bg-transparent">
            <h5 class="mb-0">Chỉnh sửa thông tin nhân viên</h5>
          </div>
          <div class="card-body">
            <div class="border p-3 rounded">
              <form class="row g-3" action="/fermeh/admin/edit-infor-staff" method="post" onsubmit="return validate()">
                <div class="row pt-3">
                  <div class="col-4">
                    <label class="form-label">Mã nhân viên</label>
                    <input type="text" class="form-control"  value="<%=(typeof staff[0].MANV == 'undefined'?'':staff[0].MANV)%>" disabled>
                    <input type="text"  name="staffcode" id="staffcode" 
                    value="<%=(typeof staff[0].MANV == 'undefined'?'':staff[0].MANV)%>" style="display: none;" >
                  </div>
                  <div class="col-8">
                    <label class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" placeholder="Họ và tên" name="staffname" id="staffname"
                      required value="<%=(typeof staff[0].TEN == 'undefined'?'':staff[0].TEN)%>">
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-8">
                    <label class="form-label">Ngày sinh</label>
                    <input type="date"  class="form-control" name="staffdate" id="staffdate" required 
                    value="<%=(typeof staff[0].NGAYSINH == 'undefined'?'':staff[0].NGAYSINH)%>">
                  </div>
                  <div class="col-4">
                    <label class="form-label">Giới tính</label>
                    <select class="form-select" name="staffgender" id="staffgender" required>
                      <%if((typeof staff[0].GIOITINH != "undefined" && staff[0].GIOITINH=="NAM") || (typeof staff[0].GIOITINH=="undefined")){%>
                        <option value="NAM" selected>Nam</option>
                        <option value="NU">Nữ</option>
                      <%}else{%>
                        <option value="NAM" >Nam</option>
                        <option value="NU" selected>Nữ</option>
                      <%}%>
                    </select>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-8">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="Email" name="staffemail" id="staffemail" 
                    value="<%=(typeof staff[0].EMAIL == 'undefined'?'':staff[0].EMAIL)%>">
                  </div>
                  <div class="col-4">
                    <label class="form-label">Vị trí</label>
                    <select class="form-select" name="staffposition" id="staffposition" required>
                        <%for(let i of role){if(staff[0].ROLETK==i.MAROLE){%>
                          <option value="<%=i.MAROLE%>" selected><%=i.TENROLE%></option>
                        <%}else{%>
                            <option value="<%=i.MAROLE%>"><%=i.TENROLE%></option>
                        <%}}%>
                      </select>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-6">
                    <label class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" placeholder="Số điện thoại" name="staffphone"
                      id="staffphone" required value="<%=(typeof staff[0].SDT == 'undefined'?'':staff[0].SDT)%>">
                  </div>
                  <div class="col-6">
                    <label class="form-label">Số CMND/CCCD</label>
                    <input type="text" class="form-control" placeholder="Số CMND/CCCD" name="staffcmnd" id="staffcmnd"
                      required value="<%=(typeof staff[0].CMND == 'undefined'?'':staff[0].CMND)%>">
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-12">
                    <label class="form-label">Ảnh đại diện</label>
                    <input class="form-control" type="file" name="staffimg" id="staffimg"
                      accept="image/png, image/jpeg,image/jpg">
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-8" style="font-size: 18px;">
                    <label for="" class="form-label">Nghỉ việc</label>
                    <input type="checkbox" class="form-check-input" id="staffstillwork" name="staffstopwork">
                  </div>
                  <div class="col-4">
                    
                  </div>
                </div>
                <div id="warning_text" style="color: red;font-size: 18px;"><%=(typeof error != "undefined"?error:"")%></div>
                <div class="col-12">
                  <button class="btn btn-dark px-4" id="btn_submit_form_staff" type="submit">Hoàn thành</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </main>

  <script src="/public/jquery/jquery-3.6.0.min.js"></script>
  <script src="/public/jquery/jquery-ui.js"></script>
  <script src="/public/js/admin/staff_edit.js"></script>
  <!-- <script>
    $( "#datepicker" ).datepicker();
  </script> -->